@use "../foundation" as *;

.l-contactBtn {
  margin-bottom: rem(100);
  @include mq(md) {
    margin-bottom: rem(220);
  }
}

.c-contactBtn {
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

// Modifier
.c-contactBtn .c-contactBtn--black {
  font-size: rem(25);
  border-radius: rem(50);
  padding: rem(25) rem(20);
  color: #fff;
  // padding-left: rem(50);
  background-color: $color-orange;
  position: relative;
  display: flex;
  align-items: center;
  @include mq(md){
    padding: rem(35) rem(50);
    font-size:  rem(36);
  }
  &::after {
    content: "";
    display: inline-block;
    background-image: url("../../../assets/img/icon/icon_arrowLink.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: rem(40);
    height: rem(40);
    margin-left: rem(40);
    @include mq(md){
      margin-left: rem(70);
    }
  }
}
