@use '../foundation/' as *;

.p-career {

}



.p-career__inner {

}

.inner {

}

.p-career__title-wrap {
  margin-bottom: rem(60);
  @include mq(md){
    margin-bottom: rem(80);
  }
}

.p-career__title {

}

.main-title {

}

.p-career__wrap.top {
  margin-bottom: rem(70);
}

.p-career__item-text {
  text-align: center;
  margin-bottom: rem(30);
  @include mq(md){
    margin-bottom: rem(50);
  }
}

.p-career__item-image {
  margin-bottom: rem(30);
}

.p-career__item-image__title {
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgb(146, 205, 238) 70%);
}

.listMark-grid {

}

.p-career__box {

}

.p-career__box-title {
  font-size:  rem(24);
  color: $color-text-blue;
  border-bottom: 2px solid $color-blue;
  padding-bottom: rem(25);
@include mq(md){
  font-size:  rem(27);
}
}

.p-career__box-text {
  padding:  rem(25) 0;
  border-bottom: 2px solid $color-blue;
  margin-bottom: rem(25);
}

.p-career__box + .p-career__box .p-career__box-text {
  margin-bottom: rem(0);
}
