@use "../foundation" as *;

.p-hero {
}

.l-hero {
}

.p-hero__inner {
  position: relative;
}

.inner {
}

.p-hero__img-wrap {
  // background-image: ;
  position: relative;
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 70%, white 100%);
  }
}

.p-hero__title-wrap {
  position: absolute;
  bottom: -25%;
  left: 25px;
  @include mq(md){
    left: 0;
    bottom: -12%;
  }
}

.p-hero__title {
  font-size: rem(28);
  line-height: 1.2;
  @include mq(md) {
    font-size: rem(45);
  }
}

.p-hero__wrap {
}
