@use "../foundation/" as *;

.p-schedule {
  position: relative;
}

.p-schedule__bg {
  height: 90%;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background-color: $color-blue;
  position: absolute;
  z-index: -1;
  top: 0;
  background: linear-gradient(to left, $color-blue 60%, transparent 70%);

  @include mq(md) {
  }

}

.p-schedule__bg-reverse{
  height: 100%;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background-color: $color-blue;
  position: absolute;
  z-index: -1;
  top: 0;
  background: linear-gradient(to right, $color-blue 70%, transparent 80%);
}

@keyframes expandHeight {
  from {
    height: 33%;
  }
  to {
    height: 78%;
  }
}

@keyframes collapseHeight1 {
  from {
    height: 78%;
  }
  to {
    height: 33%;
  }
}

@keyframes collapseHeight2 {
  from {
    height: 100%;
  }
  to {
    height: 28%;
  }
}

@keyframes collapseHeight3 {
  from {
    height: 78%;
  }
  to {
    height: 35%;
  }
}

.p-schedule__bg {
  transition: height 0.5s ease;
}



.p-schedule__inner {
}

.inner {
}

.p-schedule__title-wrap {
  margin-bottom: rem(50);
  @include mq(md) {
    margin-bottom: rem(60);
  }

  p {
    font-size:  rem(13);
  }
}

.p-schedule__title {
}

.main-title {
}

.p-schedule__wrap {
  @include mq(md) {
    display: flex;
  }

  &.top {
    position: relative;
  }
}

.p-schedule__items {
  position: relative;
  width: 100%;
  padding: rem(50) rem(20);
  padding-top:  rem(80);
  @include mq(md) {
    padding: rem(100) rem(20);
  }
}

.p-schedule__item {
  display: flex;
  position: relative;
  padding-bottom: rem(30);
  &:not(:last-child) {
    margin-bottom: rem(35);
  }
  @include mq(md) {
    padding-bottom: rem(60);
    width:  rem(500);

    &:not(:last-child) {
      margin-bottom: rem(65);
    }
  }
  &::before {
    content: "";
    position: absolute;
    height: rem(2);
    background-color: $color-black;
    bottom: 0;
    left: 0;
    width: 100%;
    @include mq(md) {
      width: rem(500);
    }
  }
  dd {
    margin-left: rem(20);
    @include mq(md) {
      margin-left: rem(20);
    }
  }
}

.p-schedule__item-time {
  font-size: rem(23);
  @include mq(md) {
    font-size: rem(26);
  }
}

.p-schedule__item-title {
  font-weight: 400;
  font-size: rem(23);
  @include mq(md) {
    font-size: rem(26);
  }
}

.p-schedule__item-text {
}

.p-schedule__images {
  // width: 30%;
  position: relative;
}

.p-schedule__image {
  width: 300px;
  @include mq(md){
    position: absolute;
  }
  &:not(:last-child) {
    margin-bottom: rem(30);
    @include mq(md){
      margin-bottom: rem(150);
    }
  }
  &:nth-last-of-type(1) {
    @include mq(md){
      top: 10%;
      right: 0;
    }
  }
  &:nth-last-of-type(2) {
    margin-left: rem(-50);
    @include mq(md){
      // margin-left: rem(-80);
      top: 40%;
      right:  rem(-50);
    }
  }
  &:nth-last-of-type(3) {
    margin-top: rem(30);
    @include mq(md){
      bottom: 0;
      right: 0;
    }
  }
  &:nth-last-of-type(4) {
    margin-top: rem(30);
    @include mq(md){
      bottom: 0;
      right: 0;
    }
  }
  img {
    aspect-ratio: 360/260;
    object-fit: cover;
    height: auto;
  }

  @include mq(md){
    width: 400px;
  }
}

.p-schedule-bottom__img {
  display: flex;
  justify-content: center;
  margin-bottom: rem(30);
  @include mq(md) {
    margin-bottom: rem(0);
    display: inherit;
  }
  img {
    aspect-ratio: 280/370;
    object-fit: cover;
    height: auto;
  }
}

.p-schedule-botttom__text {
  // display: flex;
  align-items: center;
  position: relative;

  height: fit-content;
  padding: 0.8em 1.2em;
  border-radius: rem(15);
  background-color: #fff2c4;
  color: $color-black;
  @include mq(md) {
    max-width: 500px;
    padding: rem(40);
    margin-left: 15px;
  }

  &::before {
    @include mq(md) {
      position: absolute;
      left: -15px;
      width: 15px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff2c4;
      content: "";
      clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }
  }
}

.p-schedule-bottom__title {
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(28);
  }
}

.p-schedule__wrap.top {
  margin-bottom: rem(50);
  // display: none;
  margin-top: rem(100);
  @include mq(md) {
    margin-bottom: rem(70);
    margin-top: rem(150);
  }
}
.p-schedule__wrap.bottom {
  align-items: center;
  justify-content: center;
}

/*===================================
 * スタッフ紹介
===================================*/

.p-schedule-prof__wrap {
  // background-color: $color-blue;
  // box-shadow: 0 0 0 25vmax $color-blue;
  // clip-path: inset(0 -25vmax 0 0);
  // background: linear-gradient(to left, $color-blue 65%, transparent 65%);
  position: relative;
  @include mq(md) {
    padding-top: rem(70);
    margin-bottom: rem(50);
    padding-bottom: rem(50);
  }
}

.p-schedule__first-info {
  position: relative;
  height: 12vh;
  strong {
    font-weight: 700;
    padding-right: rem(20);
  }

  span {
    position: absolute;
    left: 0;
    padding-left:  rem(100);
  }
}

.p-schedule-prof__box {
  margin-bottom: rem(30);
  @include mq(md) {
    display: flex;
    margin-bottom: rem(50);
  }
}

.p-schedule-prof__img {
  margin-bottom: rem(30);
  @include mq(md) {
    margin-bottom: rem(0);
    margin-right: rem(30);
    width: per(430, 1030);
  }
  img {
    aspect-ratio: 420/280;
    object-fit: cover;
    height: auto;
  }
}

.p-schedule-prof__text {
  @include mq(md) {
    padding-top: rem(50);
    width: 50%;
  }
}

.p-schedule-prof__title {
  font-size:  clamp(rem(20), 5vw,  rem(23));
  margin-bottom: rem(30);
  text-align: center;
  @include mq(md) {
    text-align: left;
    margin-bottom: rem(40);
    font-size: rem(26);
  }
}

.p-schedule-prof-message__box {
  // display: none;
  border: 1px solid #aeaeae;
  background-color: $color-white;
  padding: rem(20) rem(30);
  @include mq(md) {
    padding: rem(40) rem(60);
  }
}

.p-schedule-prof-message__text{
  &:not(:last-child) {
    margin-bottom: rem(20);
    @include mq(md){
      margin-bottom: rem(40);
    }
  }
}

.p-schedule-prof-message__text p {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 98.5%, #000 100%);
  background-repeat: repeat-y;
  background-size: 100% 3em;
  line-height: 3;
}


.p-schedule-prof-message__title {
  color: $color-text-blue;
  @include mq(md) {
    font-size: rem(28);
  }
}


.p-schedule__sfaff-name{
  position:absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  font-size:  rem(23);
  width: 100%;
  text-align: center;
  @include mq(md){
    top:  rem(-30);
    font-size:  rem(33);
  }
}

.js-staff-acordion {
  border: 1px solid #aeaeae;
  text-align: center;
  margin: 0 auto;
  margin-top: rem(30);
  width: rem(130);
  padding: rem(10) rem(20);
  background-color: $color-white;
  cursor: pointer;
  @include mq(md){
    width:  rem(180);
    margin-top: rem(0);
    padding:  rem(10)  rem(20);
  }
}
