@use "../foundation/" as *;

.p-value {
}

.p-value__inner {
}

.p-value__title-wrap {
  margin-bottom: rem(30);
  @include mq(md) {
    margin-bottom: rem(30);
  }
}

.p-value__title {
}

.main-title {
}

.p-value__wrap {
  margin-bottom: rem(45);
}

.p-value__items {
  background-color: $color-white;
  border-radius: rem(15);
  padding:  rem(5)  rem(10)  rem(20)  rem(10);
  @include mq(md) {
    border-radius: rem(35);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: rem(30);
  }
}

.p-value__item {
  margin-bottom: rem(45);
  &:nth-of-type(6) {
    margin-bottom: rem(0);
  }
  @include mq(md) {
    width: per(480, 1030);
    &:nth-of-type(n + 5) {
      margin-bottom: 0;
    }
  }
}

.p-value__head {
  display: flex;
  align-items: center;
  margin-bottom: rem(10);
  img {
    width: rem(60);
    aspect-ratio: 60/60;
    object-fit: cover;
    height: auto;
  }
}

.p-value__head-title {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 70%,
    rgb(255, 255, 148) 70%
  );
  @include mq(md) {
    font-size: rem(22);
  }
}

.p-value__text {
}

.p-value__image {
}

.p-value__bottom {
  @include mq(md){
    text-align: center;
  }
}
