@use "../foundation" as *;

.p-work {
  position: relative;
}

.p-work__bg {
  display: none;
  @include mq(md) {
    display: block;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    // height: fit-content;
    background: linear-gradient(
      90deg,
      transparent 0%,
      transparent 70%,
      $color-blue 25%
    );
    top: 160px;
    // display: block;
  }
}

.p-work__inner {
  // overflow: hidden;
}

.inner {
}

.p-work__title-wrap {
  margin-bottom: rem(40);
  @include mq(md) {
    margin-bottom: rem(50);
  }
}

.p-work__title {
}

.main-title {
}

.p-work__first-info {
  margin-bottom: rem(30);
  @include mq(md) {
    text-align: center;
    margin-bottom: rem(40);
  }

  p {

    @include mq(md){
      width: rem(1200);
    }
  }
}

.p-work__wrap {
  position: relative;
  width: 100%;
  padding: rem(50) 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      90deg,
      transparent 0%,
      transparent 15%,
      $color-blue 25%
    );
    @include mq(md) {
      display: none;
    }
  }
}

.p-work__item {
  // display: flex;
  @include mq(md) {
    display: flex;
    justify-content: space-between;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
      .p-work__text {
        margin-right: rem(70);
        margin-left: rem(0);
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: rem(70);
    @include mq(md) {
      margin-bottom: rem(50);
    }
  }
}

.p-work__img {
  width: 100%;
  // order: 2;
  margin-bottom: rem(30);
  @include mq(md) {
    // order: 1;
    margin-bottom: rem(0);
    max-width: rem(600);
  }
  img {
    width: 100%;
    aspect-ratio: 460/330;
    object-fit: cover;
  }
}

.p-work__text {
  @include mq(md) {
    margin-left: rem(70);
    margin-right: rem(0);
  }

  p {
    // order: 3;
    @include mq(md) {
      // order: 2;
    }
  }
}

.p-work__item-title {
  font-size: rem(24);
  padding-left: rem(75);
  position: relative;
  margin-bottom: rem(20);
  // line-height: 2;
  // white-space: nowrap;
  @include mq(md) {
    font-size: rem(30);
    margin-bottom: rem(30);
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    // background-image: url("../../../assets/img/icon/number_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: rem(90);
    height: rem(80);
    left: -3%;
    transform: translateY(-50%);
    top: 45%;
    @include mq(md){
      top: 25%;

    }
  }
}

.title1::before {
  background-image: url("../../assets/img/icon/number_1.png");
}

.title2::before {
  background-image: url("../../assets/img/icon/number_2.png");
}

.title3::before {
  background-image: url("../../assets/img/icon/number_3.png");
}

.title4::before {
  background-image: url("../../assets/img/icon/number_4.png");
}

.title5::before {
  background-image: url("../../assets/img/icon/number_5.png");
}

.title6::before {
  background-image: url("../../assets/img/icon/number_6.png");
}

.listMark-grid {
}
